body {
	display: flex;
	flex-flow: column;
	height: 100vh;
}
nav {
	z-index: 9999;
	flex: 0 1 auto;
}

.my-bg-dark {
	background-color: #303030;
}

.active {
	background-color: #505050 !important;
}

.nav-pills li a {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.code_area {
	background-color: #252525;
	color: white;
	font-size: 1.5em;
	overflow: auto;
	flex: 1 1 auto;
}

.code_sand {
	color: sandybrown;
}

.code_skyblue {
	color: skyblue;
}

.code_green {
	color: #6a9955;
}

.dropdown-item-checked::after {
	position: absolute;
	right: 0.4rem;
	content: "✓";
	font-weight: 600;
}

#imga * {
	width: 100%;
	text-align: center;
}

#inform {
	text-align: center;
}
